<template>
  <div class="about">
    <Header></Header>
    <div class="pusher">
      <div class="ui inverted vertical masthead center aligned segment fixed-bg fixed-bg--1" :style="{'min-height': windowHeight + 'px' }">
        <div class="ui text container">
          <h1 class="ui inverted header">Lorem Ipsum</h1>
        </div>

      </div>

      <div class="ui vertical stripe segment scrolling-bg scrolling-bg--1" :style="{'min-height': .75*windowHeight + 'px' }">
        <div class="ui text container">
          <h3 class="ui header">Breaking The Grid, Grabs Your Attention</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi, mollitia, repellendus sapiente repudiandae labore rerum amet culpa inventore, modi non. Quo nisi veritatis vitae nam, labore fugit. Inventore culpa iusto, officia exercitationem. Voluptates quibusdam odit odio incidunt consequatur, consectetur aspernatur optio vitae molestias, quas repellendus fugit ullam culpa, eligendi et dignissimos voluptatibus illum? Molestias aliquam nostrum quasi ipsa culpa, iusto explicabo ut error, consequuntur enim temporibus, adipisci tempora voluptate, id consequatur mollitia eveniet blanditiis. Illo quod repellendus alias? Cum rem doloremque adipisci accusantium? Saepe, necessitatibus!</p>          
        </div>
      </div>

      <div class="ui inverted vertical masthead center aligned segment fixed-bg fixed-bg--2" :style="{'min-height': windowHeight + 'px' }">
        <div class="ui text container">
          <h1 class="ui inverted header">Lorem Ipsum, again!</h1>
        </div>
      </div>

      <div class="ui vertical stripe segment scrolling-bg scrolling-bg--2" :style="{'min-height': .75*windowHeight + 'px' }">
        <div class="ui text container">
          <h3 class="ui header">This format allows one to tell a story.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi, mollitia, repellendus sapiente repudiandae labore rerum amet culpa inventore, modi non. Quo nisi veritatis vitae nam, labore fugit. Inventore culpa iusto, officia exercitationem. Voluptates quibusdam odit odio incidunt consequatur, consectetur aspernatur optio vitae molestias, quas repellendus fugit ullam culpa, eligendi et dignissimos voluptatibus illum? Molestias aliquam nostrum quasi ipsa culpa, iusto explicabo ut error, consequuntur enim temporibus, adipisci tempora voluptate, id consequatur mollitia eveniet blanditiis. Illo quod repellendus alias? Cum rem doloremque adipisci accusantium? Saepe, necessitatibus!</p>
        </div>
      </div>
    </div>
      <Footer></Footer>
  </div>
</template>
<script>
  import Header from '@/components/Header'
  import Footer from '@/components/Footer'
  export default {
    name: 'About',
    components: {Header, Footer},
    data () {
      return {
        msg: 'hey',
        windowHeight: window.innerHeight
      }
    },
    computed: {
      // style() {
      //   return 'min-height: ' + this.windowHeight;
      // }
    },
    watch: {

    },
    mounted() {
      this.$nextTick(() => {
        window.addEventListener('resize', () => {
          this.windowHeight = window.innerHeight
        });
      })
    }
  }
</script>
<style scoped>
  .ui.inverted.fixed-bg {  
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .fixed-bg.fixed-bg--1 {
    background-image: url('../assets/bg/bg_1.jpg');
  }

  .fixed-bg.fixed-bg--2 {
    background-image: url('../assets/bg/bg_2.jpg');
  }

  .cd-scrolling-bg {
    min-height: 100%;
  }

  /* from home.vue @todo: make a base class from which about, home, etc extends */
  .masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
  }
</style>