<template>
  <div class="footer">    
    <div class="ui vertical footer segment">
      <div class="ui fluid container">
        <div class="ui stackable divided equal height stackable grid">
          <div class="four wide column">
            <h4 class="ui header">About</h4>
            <div class="ui link list">
              <a href="#" class="item">Sitemap</a>
              <a href="#" class="item">Contact Us</a>
              <a href="#" class="item">Religious Ceremonies</a>
              <a href="#" class="item">Gazebo Plans</a>
            </div>
          </div>
          <div class="eight wide column">
            <h4 class="ui header">Footer Header</h4>
            <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
          </div>
          <div class="four wide column">
            <h4 class="ui header">Services</h4>
            <div class="ui link list">
              <a href="#" class="item">Banana Pre-Order</a>
              <a href="#" class="item">DNA FAQ</a>
              <a href="#" class="item">How To Access</a>
              <a href="#" class="item">Favorite X-Men</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'Header',
    data () {
      return {
        msg: 'hey'
        // windowHeight: window.innerHeight
      }
    },
    computed: {
      // style() {
      //   return 'min-height: ' + this.windowHeight;
      // }
    },
    watch: {

    },
    mounted() {
      // this.$nextTick(() => {
      //   window.addEventListener('resize', () => {
      //     this.windowHeight = window.innerHeight
      //   });
      // })
    }
  }
</script>
<style scoped lang="less">
@import '../assets/less/style.less';

.footer {
  background-color: @header-footer;
}

</style>