<template>
  <div class="header">
    <div class="ui fluid container">
      <div class="ui large secondary pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <div class="left item">
          <a class="active item" href="#/">Independent Tea Co.</a>
        </div>
        <div class="right item">
          <div class="ui category search">
            <div class="ui icon input">
              <input class="prompt" type="text" placeholder="My ideal tea is...">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>
          <a class="item" href="#/About">About</a>
          <a class="item">Shop</a>
          <a class="item">Log In</a>
          <a class="item">Register</a>
          <!-- <a class="ui inverted button">Log in</a> -->
          <!-- <a class="ui inverted button">Sign Up</a> -->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import '@/assets/less/style.less'
  import Search from '@/components/SearchWidget'
  export default {
    name: 'Header',
    components: { Search },
    data () {
      return {
        msg: 'hey'
        // windowHeight: window.innerHeight
      }
    },
    computed: {
      // style() {
      //   return 'min-height: ' + this.windowHeight;
      // }
    },
    watch: {

    },
    mounted() {
      // this.$nextTick(() => {
      //   window.addEventListener('resize', () => {
      //     this.windowHeight = window.innerHeight
      //   });
      // })
    }
  }
</script>
<style scoped lang="less">
  @import '../assets/less/style.less';
  .header {
    background-color: @header-footer; /*@main-bg-color;*/
  }

  .secondary.pointing.menu .toc.item {
    display: none;
  }

  @media only screen and (max-width: 700px) {
    .ui.fixed.menu {
      display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
      display: none;
    }
    .secondary.pointing.menu .toc.item {
      display: block;
    }
    .masthead.segment {
      min-height: 350px;
    }
    .masthead h1.ui.header {
      font-size: 2em;
      margin-top: 1.5em;
    }
    .masthead h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
    }
  }

</style>