<template>
  <div class="home">
    <Header></Header>
    <div class="pusher">
      <div class="ui vertical masthead center aligned segment" :style="{'min-height': 0.3*windowHeight + 'px' }">
        <div class="ui text container">
          <div class="row">
            Storefront Content Row
          </div>
        </div>
      </div>
      <div class="ui vertical strip segment" :style="{'min-height': 0.15*windowHeight + 'px' }">
        <div class="ui text container">
          <div class="row marketing-font">
            <h3 class="ui header">Engaging Marketing Thing Here</h3>
          </div>
        </div>
      </div>
      <div class="ui vertical masthead center aligned segment" :style="{'min-height': 0.4*windowHeight + 'px' }">
        <div class="ui text container">
          <div class="row">
            Secondary Content Row
          </div>
        </div>
      </div>
      <div class="ui vertical strip segment" >
        <div class="ui equal width stackable internally celled grid" :style="{'min-height': 0.3*windowHeight + 'px' }">
          <div class="row">
            <div class="column">
              <h4>stuff</h4>
              <p>more stuff</p>
            </div>
            <div class="column">
              <h4>another stuff</h4>
              <p>even more stuff</p>
            </div>
          </div>
        </div>
      </div>
      <div class="ui vertical masthead center aligned segment" :style="{'min-height': 0.6*windowHeight + 'px' }">
        <div class="ui text container">
          <div class="row">
            Even More Content Row
          </div>
        </div>
      </div>    
    </div>

    <Footer></Footer>
  </div>
  
</template>
<script>

import Header from '@/components/Header'
import Footer from '@/components/Footer'

export default {
  name: 'Home',
  components: { Header, Footer },
  data() {
    return {
      msg: 'Hello World',
      windowHeight: window.innerHeight,
      windowWidth: window.innerWidth
    }
  },
  computed: {
    style() {
      return 'min-height: ' + this.windowHeight;
    }
  },
  watch: {
    //watched properties here
  },
  mounted() {
    this.$nextTick(() => {
      window.addEventListener('resize', () => {
        this.windowHeight = window.innerHeight
      });
    })
  }
}
</script>
<style scoped lang="less">
@import '../assets/less/style.less';
.ui.container {
  width: 1300px;
}

.hidden.menu {
  display: none;
}

.marketing-font {
  font-family: sans-serif;
  line-height: 1.15;
  font-size: 25px;
  font-weight: bold;
}

.masthead.segment {
  // min-height: this.windowHeight;
  background-color: @bg;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

</style>