<template>
  <div class="home">
    <!-- Top Menu -->
<!--     <div class="ui large top fixed hidden menu">
      <div class="ui container">
        <a class="active item">Home</a>
        <a class="item">Services</a>
        <a class="item">About</a>
        <div class="right menu">
          <div class="item">
            <a class="ui button">Log in</a>
          </div>
          <div class="item">
            <a class="ui primary button">Sign Up</a>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Sidebar Menu -->
<!--     <div class="ui vertical inverted sidebar menu">
      <a class="active item">Home</a>
      <a class="item">Services</a>
      <a class="item">About Us</a>
      <a class="item">Login</a>
      <a class="item">Signup</a>
    </div> -->


    <!-- Page Contents -->
    <Header></Header>
    <div class="pusher">
      <div class="ui inverted vertical masthead center aligned segment" :style="{'min-height': windowHeight + 'px' }">
        

        <div class="ui text container">
          <h1 class="ui inverted header">
            Find Your Tea
          </h1>
          <!-- <h2>tea?</h2> -->
          <div class="row marketing-font">
            <div style="margin-left:180px">
              My ideal tea is<span class="blinking-cursor">|</span><input type="text" class="semantic-search" placeholder="flavorful"/>
            </div>
            <!-- <div class="cursor">
              My ideal tea is <i></i><input type="text" class="rq-form-element semantic-search" placeholder="flavorful" />
            </div> -->
          </div>
          <div class="ui huge inverted button">Search</div>
        </div>

      </div>

<!-- scrollable, below the faux full page website -->
      <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
          <div class="row">
            <div class="eight wide column">
              <h3 class="ui header">We Help Companies</h3>
              <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
              <h3 class="ui header">We Make Bananas That Can Dance</h3>
              <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
            </div>
            <div class="six wide right floated column">
              <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
            </div>
          </div>
          <div class="row">
            <div class="center aligned column">
              <a class="ui huge button">Check Them Out</a>
            </div>
          </div>
        </div>
      </div>


      <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
          <div class="center aligned row">
            <div class="column">
              <h3>"What a Company"</h3>
              <p>That is what they all say about us</p>
            </div>
            <div class="column">
              <h3>"I shouldn't have gone with their competitor."</h3>
              <p>
                <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Martin Shkreli</b> CEO Turing Pharmaceuticals
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="ui vertical stripe segment">
        <div class="ui text container">
          <h3 class="ui header">Breaking The Grid, Grabs Your Attention</h3>
          <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.</p>
          <a class="ui large button">Read More</a>
          <h4 class="ui horizontal header divider">
            <a href="#">Case Studies</a>
          </h4>
          <h3 class="ui header">Did We Tell You About Our Bananas?</h3>
          <p>Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.</p>
          <a class="ui large button">I'm Still Quite Interested</a>
        </div>
      </div>


      <Footer></Footer>
    </div>
  </div>

</template>

  <!-- <script src="../dist/components/visibility.js"></script> -->
  <!-- <script src="../dist/components/sidebar.js"></script> -->
  <!-- <script src="../dist/components/transition.js"></script> -->
<script>
  import $ from 'jquery'
  import Header from '@/components/Header'
  import Footer from '@/components/Footer'
  // $(document)
  //   .ready(function() {

  //     // fix menu when passed
  //     $('.masthead')
  //       .visibility({
  //         once: false,
  //         onBottomPassed: function() {
  //           $('.fixed.menu').transition('fade in');
  //         },
  //         onBottomPassedReverse: function() {
  //           $('.fixed.menu').transition('fade out');
  //         }
  //       });

  //     // create sidebar and attach to menu open
  //     $('.ui.sidebar')
  //       .sidebar('attach events', '.toc.item')
  //     ;

  //   })
  // ;

  export default {
    name: 'Search',
    components: { Header, Footer },
    data () {
      return {
        msg: 'hey',
        windowHeight: window.innerHeight
      }
    },
    computed: {
      style() {
        return 'min-height: ' + this.windowHeight;
      }
    },
    watch: {

    },
    mounted() {
      this.$nextTick(() => {
        window.addEventListener('resize', () => {
          this.windowHeight = window.innerHeight
        });
      })
    }
  }
</script>
<style scoped lang="less">
  @import '../assets/less/style.less';
  .ui.container {
    width: 1300px;
  }

  .hidden.menu {
    display: none;
  }

  .masthead.segment {
    min-height: this.windowHeight;
    /*background: url('../assets/bg.jpg');*/
    padding: 1em 0em;
  }
  .masthead .logo.item img {
    margin-right: 1em;
  }
  .masthead .ui.menu .ui.button {
    margin-left: 0.5em;
  }
  .masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
  }
  .masthead h2.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
  }
  .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
  }

  /* center form styling */
  .marketing-font {
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 25px;
  }

  input[type=text] {
    border: none;
    background-color: @main-bg-color;
    outline: 0;
    width: 300px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  input[type=text]:focus {
    border: none;
    color: #FFF;
    background-color: @main-bg-color;
    outline: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 300px;
    height: 30px;
  }

  input[type=text]::placeholder {
    color: #ADADAD;
  }

  .semantic-search { 
    height: 40px;
    width: 300px; 
    overflow: auto;
    margin: auto; 
    /*position: absolute;*/
    top: 0; left: 0; bottom: 0; right: 0; 
  } 
  /* </ center form > */

  /* blinking cursor attempt #2 */
/*    .cursor {
    position: relative;
  }
  .cursor i {
    position: absolute;
    width: 1px;
    height: 80%;
    background-color: gray;
    left: 5px;
    top: 10%;
    animation-name: blink;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    opacity: 1;
  }

  .cursor input:focus + i {
    display: none;
  }

  @keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
  }*/
  /* <! blinking cursor > */

  /* blinking cursor css */
  .blinking-cursor {
    font-weight: 100;
    font-size: 36px;
    color: #D8D8D8;
    animation-name: blink;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    opacity: 1;
  }

  @keyframes blink {
    from { opacity: 1; }
    to { opacity: 0.2; }
  }
  /* </ blinking cursor > */

  .ui.vertical.stripe {
    padding: 8em 0em;
  }
  .ui.vertical.stripe h3 {
    font-size: 2em;
  }
  .ui.vertical.stripe .button + h3,
  .ui.vertical.stripe p + h3 {
    margin-top: 3em;
  }
  .ui.vertical.stripe .floated.image {
    clear: both;
  }
  .ui.vertical.stripe p {
    font-size: 1.33em;
  }
  .ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
  }

  .quote.stripe.segment {
    padding: 0em;
  }
  .quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
  }

  .footer.segment {
    padding: 5em 0em;
  }


</style>