<template>
  <div class="search">
    <div>My ideal tea is<span class="blinking-cursor">|</span><input type="text" class="semantic-search" placeholder="flavorful"/></div><div class="ui inverted button">Search</div>
  </div>
</template>
<script>
  export default {
    name: 'Search', //components: { }
    data() {
      return {
        msg: 'search widget',

      }
    },
    computed: {
      //todo
    },
    watch: {

    },
    mounted() {

    }
  }
</script>

<style scoped lang="less">
@import '../assets/less/style.less';

input[type=text] {
  border: none;
  background-color: @main-bg-color;
  outline: 0;
  width: 300px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
}

input[type=text]:focus {
  border: none;
  color: #FFF;
  background-color: @main-bg-color;
  outline: 0;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 300px;
  height: 30px;
}

input[type=text]::placeholder {
  color: #ADADAD;
}

.semantic-search { 
  height: 40px;
  width: 300px; 
  overflow: auto;
  margin: auto; 
  /*position: absolute;*/
  top: 0; left: 0; bottom: 0; right: 0; 
} 

/* blinking cursor css */
.blinking-cursor {
  font-weight: 100;
  font-size: 36px;
  color: #D8D8D8;
  animation-name: blink;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  opacity: 1;
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0.2; }
}
/* </ blinking cursor > */
</style>