/* */

/* trying out colors */
@biege: #FDF5E6;
@off-white: #F5F5F5;
@dark: #1B1C1D;

@main-bg-color: @off-white;

/* from coolors.co */

/* tan tea scheme */
  @gunmetal: #30343F;
  @gray-blue: #8D99AE;
  @anti-flash-white: #EDF2F4;
  @baby-powder: #FDFFFC;
  @flax: #EDCF8E;

  @bg: @anti-flash-white;
  @bg-alt: @baby-powder;
  @neutral: @baby-powder;
  @highlight: @flax;  
  @dark-hl: @gray-blue;
  @dark: @gunmetal;
  
  @header-footer: @baby-powder;